@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower/IndieFlower.eot');
    src: url('../fonts/IndieFlower/IndieFlower.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IndieFlower/IndieFlower.woff2') format('woff2'),
        url('../fonts/IndieFlower/IndieFlower.woff') format('woff'),
        url('../fonts/IndieFlower/IndieFlower.ttf') format('truetype'),
        url('../fonts/IndieFlower/IndieFlower.svg#IndieFlower') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
         url('../fonts/Lato/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
         url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato/Lato-Light.eot');
    src: url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
         url('../fonts/Lato/Lato-Light.woff') format('woff'),
         url('../fonts/Lato/Lato-Light.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Light.svg#Lato-Light') format('svg'),
         url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }