body {
    margin: 0;
    padding: 0;
    font-family: "Lato-Light", "Roboto", "Oxygen";
}
 
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

input {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  
  &:focus {
      outline: none;
  }
}
  
input[type=text] {

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Lato-Light", "Roboto", "Oxygen";
  
  &:focus {
      outline: none;
  }
}

a {
  text-decoration: none;
  color: black;
  
  &:active {
      color: #fff;
  }
}