.action-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  background-color: $oceanGreen;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.5s;

  img {
    width: 2rem;
    height: 2rem;
    transition: 0.5s;
  }

  &:hover {
    background-color: $salem;
    transition: 0.5s;

    img {
      width: 1.8rem;
      height: 1.8rem;
      transition: 0.5s;
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}