.suggestions {
  border: 1px solid $madang;
  position: absolute;
  background-color: white;
  width: 21rem;
  padding: 0.5rem;
  transform: translateY(3rem);

  .suggestions-title {
    font-weight: bold;

  }

  .suggestions-block {
    max-height: 8rem;
    overflow-y: auto;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 1rem;

    .suggestions-block-item {
      padding: 0.5rem;
      background-color: $madang;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: $oceanGreen;
        color: white;
        transition: 0.5s;
      }
    }
  }
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

  .suggestions {

    .suggestions-block {

    }
  }
  
}

@media (min-width: 1280px) {

}