.login-form-input {
  position: relative;
  width: 15rem;
  padding: 1rem 0;
  
  input { 
    border: none;
    width: 100%;
    border-bottom: 1px solid $madang;
    background-color: transparent;
    height: 2rem;
    color: white;
    padding-left: 0.5rem;
    font-family: "Lato-Light";
    font-size: 1rem;
  }

  label {
    position: absolute;
    padding-left: 0.5rem;
    transition-duration: 0.5s;
    color: white;

    &.active {
      transform: translate(0, -20px);
      transition-duration: 0.5s;
      position: absolute;
      font-size: 12px;
      color: $madang;
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {


}