.logout-btn {
  padding: 0;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $madang;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}