.main-admin-container {
  min-height: calc(100vh - (82px + 52px));
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  .main-admin-topic {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .main-admin-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      background-color: $oceanGreen;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: $salem;
        transition: 0.5s;

        .card-icon {

          img {
            width: 6rem;
            transition: 0.5s;
          }
        }
      }

      .card-icon {

        img {
          width: 4rem;
          transition: 1s;
        }
      }
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}