.main-container {
    min-height: calc(100vh - (81px + 51px));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 150px;
    grid-template-areas: 
        "content"
        "pictures"
        "tags"
        "bottom"
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1280px) {

    .main-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: 
        "content pictures pictures pictures tags"
        "bottom bottom bottom bottom bottom"
    }
}