.login-container {
  min-height: calc(100vh - (51px + 79px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .login-title-border-wrap {
    position: relative;
    background: linear-gradient(45deg, $madang, $oceanGreen);
    width: 80%;
    padding: 3px;
    margin-bottom: 2rem;
    border-radius: 5px;

    .login-title-wrapper {
      background-color: white;
      padding: 0.5rem;
      margin: 0;
      border-radius: 2px;

      .login-title {
        color: $oceanGreen;
        text-align: center;
        padding: 1rem;  
      }
    }
  }

  .login-country {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    margin-top: 2rem;
    
    .login-box-wrapper {
      transition-duration: 0.5s;
      opacity: 0.4;
      
      &:hover {
        opacity: 1;
        transition-duration: 0.5s;
        cursor:pointer;
      }

      img {
        width: 2rem;
      }
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
  .login-container {
    .login-title-border-wrap {
      width: 40%;
      margin-bottom: 5rem;
    }
  
    .login-form {
      width: 30%;
    }
  
    .login-country {
      width: 30%;
      margin-top: 5rem;
    }
  }
}

@media (min-width: 1280px) {

}