.picture-container {

  .picture-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    
    .card-wrapper {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-size: cover;
      background-position: top left;
      margin-bottom: 1rem;

      .card-header {
        background-color: $oceanGreen;
        
        p {
          padding: 1rem;
          font-size: 1.2rem;
          color: white;
        }

      }

      .card-content-picture {
        width: 100%;
        height: 18rem;
      }

      .card-content-description {
          
        .description-list {
          padding: 0.8rem;

          .description-list-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
              margin: 0.2rem 0 0.2rem 0;
            }

            img {
              width: 1rem;
              cursor: pointer;
            }

          }

        }
      }

    }
  }

  .picture-submit {
    display: flex;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;

    .picture-submit-btn {
      background-color: rgba(220,220,220, 0.2);
      transition: 0.5s;

      &.modified {
        background-color: $oceanGreen;
        transition: 0.5s;
      }

      p {
        padding: 1rem;
        color: white;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 768px) {

  
}

@media (min-width: 992px) {
  
  .picture-container {

    min-height: calc(100vh - (51px + 82px));

    .picture-content {
      flex-direction: row;
      justify-content: space-evenly;
      
      .card-wrapper {
        width: 100%;
        margin: 0 1rem 0 1rem;
      }
    }
  }
  
}

@media (min-width: 1280px) {

}