.upload-main-container {
  min-height: calc(100vh - (81px + 51px));

  .upload-header {
    padding: 1rem;
  }

  .upload-dropzone {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .upload-dropzone-component {
      border: 1px dashed black;
      width: 50rem;
      min-height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        ul {
          padding: 1rem;

          li {
            font-size: 0.8rem;
            font-style: italic;
          }
        }
      }
      
      .upload-wrapper {
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

          p {
            text-align: center;
            padding-top: 1rem;
          }

          .upload-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px dashed grey;
            width: 6rem;
            height: 6rem;
            padding: 2rem;
            border-radius: 50%;

            img {
              width: 5rem;
            }
          }
        }
    }
  }

  .upload-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    button {
      background-color: $oceanGreen;
      color: white;
      padding: 1rem;
      width: 8rem;
      cursor: pointer;
      transition: 0.5s;
       
      &:hover {
        background-color: $salem;
        transition: 0.5s;
      }

    }

  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}