  .admin-button {
  
    background-color: #4daf7c;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    border-top: 2px solid $madang;
    top: 8rem;
    left: 16rem;
    cursor: pointer;
    position: absolute;
  
    img {
      position: absolute;
      width: 2.5rem;
    }
  }



@media (min-width: 768px) {

  .admin-button {
    top: 8rem;
    left: 50rem;
  }
}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

  .admin-button {
    top: 2rem;
    left: 72rem;

    &:hover {
      background-color: $salem;
      transition: 1s;
    }
  }

}