.cards {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-size: cover;
    background-position: center;
    min-height: 100px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-position: 0% 1%; 
        //background-size: 96%;
        transition: 0.5s;
    }

    &.square {
        grid-row: span 2;
        grid-column: span 2;
    }

    &.long {
        grid-row: span 1;
        grid-column: span 3;
    }

    &.mini {
        grid-row: span 1;
        grid-column: span 1;
    }

    &.short {
        grid-row: span 1;
        grid-column: span 2;
    }

    &.big {
        grid-row: span 2;
        grid-column: span 3;
    }
}