.content-card-wrapper {
  //border: 1px solid blue;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;

  .content-card-avatar {

    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 5rem;
    }
  }
  
  .content-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content-card-name {
  
    }
  
    .content-card-relation {
  
    }

  }

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}