.container-footer {
    grid-area: footer;
    background-color: $oceanGreen; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 1rem;
    }
}