.head-container {
  grid-area: head;
  width: 100%;
  border: 1px solid red;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

  .head-container {
    display: flex;
    justify-content: center;
  }
}