.header-container {
    border-bottom: 2px solid $madang;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower';
    font-size: 1em;
    display: flex;
    flex-direction: row;
    height: 100%;

    h1 {
        margin: 1rem;
    }
}

.icon-header {
    width: 10%;
    padding: 5px;
}