.pictures-keywords-item {
  background-color: $oceanGreen;
  color: $madang;
  padding: 0.5rem;;
  min-width: 2.5rem;
  margin: 0.2rem 0.2rem; 
  display: flex;
  align-items: center;
  max-height: 2rem;
  display: flex;
  align-items: center;

    p {
      vertical-align: center;
    }

  .keyword-close {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
    img {
      width: 1rem;
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

}