.login-form {
  width: 80%;
  height: 15rem;
  background-color: $oceanGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .btn {
    font-family: "Lato-Light";
    color: $oceanGreen;
    background-color: $madang;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    transition-duration: 0.5s;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $madang;
      transition-duration: 0.5s;
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
 
  .login-form {
    width: 30%;
  }
  
  .login-country {
    width: 30%;
    margin-top: 5rem;
  }
}

@media (min-width: 1280px) {

}