.pictures-list-item-wrapper {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: rgba(200, 247, 197, 0.3);
    transition: 0.5s;
  }

  .pictures-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .pictures-list-item-avatar {
      width: 5rem;
      height: 5rem;
    }
  
    .pictures-list-item-description {
      display: none;
      
      .pictures-list-item-description-members {
        min-width: 15rem;
  
      }
  
      .pictures-list-item-description-title {
        font-size: 0.9rem;
        font-weight: bold;
      }
  
      .pictures-list-item-description-tags {
        margin-left: 10%;
        max-width: 20rem;
      }
    }
  }


  .pictures-list-item-action {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .pictures-list-item-wrapper {

    .pictures-list-item-content {

      .pictures-list-item-avatar {
    
      }
    
      .pictures-list-item-description {
        display: flex;
        flex-direction: row;
        margin-left: 2rem;
        min-width: 40rem;
      }
    }
  
  
    .pictures-list-item-action {
  
    }
  }

}

@media (min-width: 992px) {
}

@media (min-width: 1280px) {

}