.search-bar {
  padding: 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .search-bar-title {
    margin-bottom: 0.5rem;
  }

  .search-bar-content {

    display: flex;


    .search-bar-input {
      width: 100%;
      box-sizing: border-box;
      background-color: $oceanGreen;
      border: none;
      height: 2.5rem;
      padding: 0.5rem 1rem;  
      color: white;
      font-size: 1.2rem;
      font-family: "Lato-Light";
    }
  
    .search-bar-add-item {
      display: flex;
      align-items: center;
      padding: 0 0 0 0.5rem;
      cursor: pointer;
          
      img {
        width: 2rem;
      }
    }
  }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {

  .search-bar {
    width: 45rem;
  }

}