.sectionTags-container {
    grid-area: tags;
    //border: 1px solid purple;
    padding: 1rem;
    
    .sectionTags-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}