.sectionContent-container {
  grid-area: content;
  width: 100%;
  background-color: $oceanGreen;
  //border: 1px dashed black;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  
}

@media (min-width: 1280px) {
  .sectionContent-container {
    grid-area: content;
    width: 100%;
    background-color: transparent;
  }
}