.pictures-container {
    grid-area: pictures;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;

    .pictures-keywords {
        margin-bottom: 1rem;
    }

    .pictures-search {
        display: flex;
        justify-content: center;
        border: 1px solid $madang;
    }

    .pictures-portfolio {
        display: grid;
        //height: 100%;
        width: 100%;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

}

.pictures-modal {
    position: relative;
    
    button {
        background-color: $oceanGreen;
        height: 3rem;
        margin: 1rem;
        position: absolute;
        top: 16.5rem;
        left: 7.5rem;
        cursor: pointer;
        color: white;
        padding: 0 1rem 0 1rem;
        font-size: 1rem;
        transition: 0.5s;

        &:hover {
            background-color: $salem;
            color: $madang;
            transition: 0.5s
        }
    }

    .pictures-modal-file {
        background-size: cover;
        background-position: top left;
        min-height: 20rem;
        min-width: 15rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    }
}

#modal-close-icon {
    background-color: $oceanGreen;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: $salem;
        transition: 0.5s;
    }

    svg {
        fill: white;

        &:hover {
            fill: $madang;
        }
    }
}

@media (min-width: 768px) {

    .pictures-modal {

        button {
            top: 30rem;
            left: 20rem;
        }

        .pictures-modal-file {
            min-height: 35rem;
            min-width: 30rem;
        }
    }

}

@media (min-width: 992px) {

}

@media (min-width: 1280px) {

}