.tag-wrapper {

  background-color: $madang;
  //border-radius: 25rem;
  color: $salem;
  padding: 0.5rem;;
  min-width: 2.5rem;
  margin: 0.2rem 0.2rem; 
  display: flex;
  align-items: center;
  max-height: 2rem;

  .tag-content {
    text-align: center;

    p {
      line-height: 1.5rem;
      padding: 0.5rem;
    }
  }
}
